<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RCMD.ReportLibrary.Properties.Settings.NRCMDB" connectionString="Data Source=ICT-LETARIKT\MSSQLSERVER2014;Initial Catalog=NRCMDB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.EntityClient" />
        <add name="RCMD.ReportLibrary.Properties.Settings.NRCMDBEntities"
            connectionString="Data Source=ICT-LETARIKT\MSSQLSERVER2014;Initial Catalog=NRCMDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>